
#contenedor {
  margin: 0 30%;
  border: 0.5em solid #d4b16a;
  border-radius: 10%;
  background-color: #ffe3aa;
  font-family: Courier;
}

h1 {
  margin-top: 0.7em;
  background-color: #d4b16a;
  text-align: center;
}

table {
  margin: 0 auto;
  border-spacing: 2em 0;
}

table .colapsada tr,td {
  border-collapse: collapse;
  border: 1px solid black;
}

#autor {
  margin-bottom: 1.5em;
  background-color: #d4b16a;
  text-align: center;
  font-style: oblique;
}

.resaltado {
  color: red;
}

.resaltadoAzul {
  color: blue;
}

.resaltadoVerde {
  color: green;
}

.resaltadoAmarillo {
  color: yellow;
}

.grados {
  background: red;
}
/*
table {
  border: 2px solid;
}
*/
table {
  border-collapse: collapse;
}

.separador {
  border-width: 1px;
  border-color: black;
  border-style: none none solid;
}

