
#contenedor {
    margin: 5% 30%;
    border: 0.8em solid #5a5;
    border-left: 1em double #5a5;
    border-bottom: 1em double #5a5; 
    border-radius: 0 3em;
    padding: 1.5em;
    background-color: #8c8;
}